.navbarSousStyle {
    width: 100vw;
    height: 4vw;
    background-color: #00d8d4d8;
    border-style: solid none none none;
border-color: rgba(127, 255, 212, 0.418);
border-width: 1vw;
    padding-top: 5vh;
    text-align: center;
    vertical-align: center;

    z-index: 1;
}
.navbarSousTitle{
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:green;
}

.navLinkSoustyle {
    height: 5vh;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 0vw 1vw;
    margin: 2px
}

.navLinkSoustyle:hover {
    font-weight: bolder;
    border: solid 5px #14a5a3;
    border-radius: 25px;
}

.selectedSous {

    font-weight: bolder;
    border: solid 5px#14a5a3;
    border-radius: 25px;
}

@media screen and (min-width: 321px)and (max-width: 740px) {
    .navbarSousStyle {
        font-size: 4vw;
        
        height: auto;
        padding: 0;
    }

    .navLinkSoustyle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 60vw;
        height: 4vw;
    }
    .navbarSousTitle{
        font-size: 3vw;
        
    }
}


