.operationContainer {
    color: white;
    height: 29vw;
    width: 29vw;
    background-image: url('./../../ressources/mur maya ombre.svg');
    background-size: cover;
    margin: auto;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titleContainer {
    margin-top: 6vw;
    margin-bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.formContainer {

    width: 10vw;
    height: 10vw;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    margin: 0vw auto auto;
    display: grid;


}

.calculContainer {
    font-size: 1.7vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
}

.buttonContainer {
    display: inline;
}

.operationButton {
    width: 7vw;
    height: 7vw;
    background-image: url('../../ressources/patejaguarshadow.svg');
    background-position: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}

.operationButton:active {
    background-image: url('../../ressources/patejaguarnoshadow.svg');
}

.inputStyle {
    background-color: rgba(218, 165, 32, 0.61);
    font-size: 2vw;
    width: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2px auto;
    border-radius: 15px;
    border-color: goldenrod;
    border-width: 5px;
}
@media only screen and (min-width:321px) and (max-width:800px) {
    .operationContainer {
      
        height: 90vw;
        width: 90vw;
      
        font-size: 5vw;

    }
    .titleContainer {
        margin-top: 18vw;
       
    
    }
    .operationButton {

        width: 20vw;
        height: 20vw;
        background-size: cover;
        background-image: url('../../ressources/patejaguarshadow.svg');
        background-position: center;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        border-style: none;
    }

    .calculContainer {
        font-size: 6vw;
        
    }
    .inputStyle {
        font-size: 6vw;
        width: 18vw;
        height:8vw;
    }
    .operationButton {
       
        width:20vw;
        height:20vw;
      
    }
}


