.navbarMultiStyle{
    width: 100vw;
    height: 4vw;
    background-color:#ffa601e1;
    border-style: solid none none none;
border-color: rgba(255, 225, 127, 0.418);
border-width: 1vw;
    padding-top: 5vh;
    text-align: center;
    vertical-align: center;
    
    z-index:1;
}
.navLinkMultiStyle{
    

    width:100%;
    color:white;
    text-decoration: none;
    padding:  0vw 1vw;
    margin:2px
    
}
.navbarMultiTitle{
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:green;
}


.navLinkMultiStyle:hover{
    font-weight: bolder;
    border: solid 5px #ffc048;
     border-radius: 25px;
}

.selectedMulti{

   font-weight: bolder;
   border: solid 5px #ffc048;
    border-radius: 25px;
}
@media screen and (min-width: 360px)and (max-width: 740px) {
    .navbarMultiStyle{
        font-size: 80%;
        padding-top: 5vh;
        height:auto;
        padding: 0;
    }
   .navLinkMultiStyle{
       display: inline-flex;
    align-items: center;
    justify-content: center;
    width:70%;
  }



  .navbarMultiTitle{
    font-size: 3vw;
   
}
}