.gameOverContainer{
    color: white;
    height: 29vw;
    width: 100vw;
   background-color:rgba(215, 218, 32, 0.699);
   border-radius: 1000px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6vw;

}

@media only screen and (min-width:321px) and (max-width:740px) {
    .gameOverContainer{
        
        height: 90vw;
        width: 90vw;
    }
}