.multiplicationContainer {
    color: white;
    height: 29vw;
    width: 29vw;
    background-image: url('../../../ressources/mur maya ombre.svg');
    background-size: cover;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6vw;

}

.titleMultiContainer {

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.incrementMultiplication{
  display: flex;
   text-align: center;
   flex-direction: row;
   justify-content: center;
   
   
}
.tableMulti{
    width: 3vw;
}

.formMultiContainerOne {
    width: auto;
    height: auto;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    margin: 0vw auto;
    display: grid;


}



.formMultiContainerTwo {
    width: 10vw;

    text-align: center;
    flex-direction: row;
    justify-content: center;
    margin: auto auto;
    display: grid;


}

.calculMultiContainer {
    font-size: 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.buttonMultiContainer {
    display: inline;
}

.operationMultiButton {
background-size: cover;
    width: 5vw;
    height: 5vw;
    background-image: url('../../../ressources/patejaguarshadow.svg');
    background-position: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}

.operationMultiButton:active {
    background-image: url('../../../ressources/patejaguarnoshadow.svg');
}

.buttonPlusMulti{
    width: 5vw;
    height: 2vw;
    background-image: url('../../../ressources/oeilplus.svg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}
.buttonPlusMulti:active{
    background-image: url('../../../ressources/oeilplusombre.svg');

    
}
.buttonMoinsMulti{
    width: 5vw;
    height: 2vw;
    background-image: url('../../../ressources/oeilmoins.svg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}
.buttonMoinsMulti:active{
    background-image: url('../../../ressources/oeilmoinsombre.svg');

}
.inputMultiStyle {
    background-color: rgba(218, 165, 32, 0.61);
    font-size: 2vw;
    width: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    border-color: goldenrod;
    border-width: 5px;
}

@media only screen and (min-width:321px) and (max-width:800px) {

    .multiplicationContainer {
        
        height:90vw;
        width:90vw;
        
        font-size: 4vw;
    
    }
    .buttonPlusMulti{
        width: 15vw;
        height: 6vw;
       
    }
    
    .buttonMoinsMulti{
        width: 15vw;
        height: 6vw;
      
    }
    .inputMultiStyle {
        font-size: 6vw;
        width: 18vw;
        height:8vw;
       
    }
    .operationMultiButton {

        width:20vw;
        height:20vw;
       
    }
}


