.buttonPauseStyle {
    height: 6vw;
    width: 6vw;
    margin: 0.5vw auto;
    border-radius: 50px;
    border-style: none;
    background-image: url(./../../ressources/icon_pause.svg);
    background-position: center;
    background-size: 7vw;
    background-color: rgba(128, 255, 0, 0);
    cursor: pointer;
    animation: rotateOut 2s;
}

.buttonPlayStyle {
    height: 6vw;
    width: 6vw;
    margin: 0.5vw auto;
    border-radius: 50px;
    border-style: none;
    background-image: url(./../../ressources/icon_play.svg);
    background-position: center;
    background-size: 7vw;
    background-color: rgba(128, 255, 0, 0);
    cursor: pointer;
    animation: rotateIn 2s;
}

/* rotate play */
.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg);
        opacity: 0.25;
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg);
        opacity: 0.25;
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

/* rotate pause */
.rotateOut {
    -webkit-animation-name: rotateOut;
    animation-name: rotateOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes rotateOut {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
        opacity: 0.25;
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateOut {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
        opacity: 0.25;
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}