.navbarDivStyle {
    width: 100vw;
    height: 4vw;
    background-color: #8d44adde;
    padding-top: 5vh;
    text-align: center;
    vertical-align: center;
border-style: solid none none none;
border-color: rgba(127, 255, 212, 0.418);
border-width: 1vw;
    z-index: 1;
}

.navLinkDivStyle {
    height: 5vh;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 0vw 1vw;
    margin: 2px
}

.navLinkDivStyle:hover {
    font-weight: bolder;
    border: solid 5px #9b59b6;
    border-radius: 25px;
}

.selectedDiv {

    font-weight: bolder;
    border: solid 5px #9b59b6;
    border-radius: 25px;
}

@media screen and (min-width: 360px)and (max-width: 740px) {
    .navbarDivStyle {
        font-size: 80%;
        padding-top: 5vh;
        height: auto;
        padding: 0;
    }

    .navLinkDivStyle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
}

@media screen and (min-width: 740px)and (max-width: 850px) {
    .navbarDivStyle {
        font-size: 100%;
        padding-top: 5vh;
        height: auto;
        padding: 0;
    }

    .navLinkDivStyle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 4vw;
    }
}